/* Color Schemes */
:root {
  --bg-primary: #fffdf7;
  --bg-secondary: #f7f5ed;
  --text-primary: #1a1a1a;
  --text-secondary: #6d6d6d;
  --border-color: #d6d3c6;
  --accent-color: #d946ef;
  --accent-color-light: #e78ff2;

  /* Tables */
  --bg-table: #cdcbc3;
}

[data-theme="dark"] {
  --bg-primary: #1a1b20;
  --bg-secondary: #222328;
  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;
  --border-color: #2a2b30;
  --accent-color: #d946ef;
  --accent-color-light: #e78ff2;

  /* Tables */
  --bg-table: #3e3f45;
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.2s ease, color 0.2s ease;
  line-height: 1.6;
}

p {
  margin: 0;
}

/* Vanilla header styles to match CodeMirror headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--text-primary);
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

table {
  margin-left: 5em;
  border-collapse: collapse;
  width: calc(100% - 10em);
}

th,
td {
  border: 1px solid var(--text-primary);
  padding: 8px;
  text-align: left;
}

th {
  font-weight: bold;
}

.cm-s-default .cm-string,
.cm-s-default .cm-keyword,
.cm-s-default .cm-variable,
.cm-s-default .cm-variable-2,
.cm-s-default .cm-variable-3,
.cm-s-default .cm-type,
.cm-s-default .cm-def,
.cm-s-default .cm-number,
.cm-s-default .cm-operator,
.cm-s-default .cm-comment,
.cm-s-default .cm-meta,
.cm-s-default .cm-atom,
.cm-s-default .cm-tag,
.cm-s-default .cm-attribute,
.cm-s-default .cm-qualifier,
.cm-s-default .cm-property,
.cm-s-default .cm-builtin,
.cm-s-default .cm-bracket,
.cm-s-default .cm-link,
.CodeMirror-line {
  color: var(--text-primary) !important;
}

.cm-header {
  font-weight: bold;
  color: var(--text-primary) !important;
  line-height: 1.2;
  margin: 0;
}

.cm-header-1 {
  font-size: 2.2em;
}
.cm-header-2 {
  font-size: 2em;
}
.cm-header-3 {
  font-size: 1.8em;
}
.cm-header-4 {
  font-size: 1.5em;
}
.cm-header-5 {
  font-size: 1.25em;
}
.cm-header-6 {
  font-size: 1em;
}

.CodeMirror-line,
pre.CodeMirror-line {
  margin: 0;
  padding: 0;
}

/* CodeMirror header styles */
.CodeMirror-code > div:has(.cm-header-1) {
  padding-bottom: 1.2em;
}
.CodeMirror-code > div:has(.cm-header-2) {
  padding-bottom: 1em;
}
.CodeMirror-code > div:has(.cm-header-3) {
  padding-bottom: 0.8em;
}
.CodeMirror-code > div:has(.cm-header-4) {
  padding-bottom: 0.6em;
}
.CodeMirror-code > div:has(.cm-header-5) {
  padding-bottom: 0.4em;
}
.CodeMirror-code > div:has(.cm-header-6) {
  padding-bottom: 0.2em;
}

.CodeMirror-cursor {
  border-left: 2px solid var(--text-primary);
  transition: border-color 0.2s ease;
}

.cm-quote {
  color: var(--text-secondary);
  border-left: 3px solid var(--border-color);
}

.cm-list {
  color: var(--text-primary);
}
.cm-list.cm-task {
  color: var(--accent-color);
}
.cm-hr {
  border-bottom: 1px solid var(--border-color);
}

.cm-code {
  font-family: monospace;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}

.cm-link {
  color: var(--accent-color);
  text-decoration: none;
}

.cm-image {
  color: var(--accent-color);
}
.cm-table-align {
  color: var(--text-secondary);
}
.cm-bold {
  font-weight: bold;
}
.cm-italic {
  font-style: italic;
}
.cm-underline {
  text-decoration: underline;
}
.cm-strikethrough {
  text-decoration: line-through;
}

.CodeMirror {
  height: calc(100vh - 20px);
  margin-top: 0px;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  transition: color 0.2s ease, background-color 0.2s ease;
}

.CodeMirror-gutters {
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--border-color);
  transition: background-color 0.2s ease;
}

.CodeMirror-linenumber {
  color: var(--editor-line-number);
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  white-space: nowrap;
  transition: color 0.2s ease;
}

.CodeMirror-sizer {
  min-height: 0 !important;
}

.CodeMirror pre.CodeMirror-line span[role="presentation"] {
  vertical-align: top;
}
